{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="7" class="text-center">
                    <div class="row">
                        <div class="col">
                            {{ form_start(month_back_form) }}
                                {{ form_widget(month_back_form.submit, {'label': 'Month Back', 'attr': {'class': 'btn btn-outline-primary btn-sm'}}) }}
                                {{ form_row(month_back_form.changeMonth, {'value': 'back'}) }}
                                {{ form_row(month_back_form.currentDateTime, {'value': time|date() }) }}
                            {{ form_end(month_back_form) }}
                        </div>
                        <div class="col">
                            {{ time|date('F Y') }}
                        </div>
                        <div class="col">
                            {{ form_start(month_forward_form) }}
                                {{ form_widget(month_forward_form.submit, {'label': 'Month Forward', 'attr': {'class': 'btn btn-outline-primary btn-sm'}}) }}
                                {{ form_row(month_forward_form.changeMonth, {'value': 'forward'}) }}
                                {{ form_row(month_forward_form.currentDateTime, {'value': time|date() }) }}
                            {{ form_end(month_forward_form) }}
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th class="col-1">Sunday</th>
                <th class="col-1">Monday</th>
                <th class="col-1">Tuesday</th>
                <th class="col-1">Wednesday</th>
                <th class="col-1">Thursday</th>
                <th class="col-1">Friday</th>
                <th class="col-1">Saturday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% set daysInMonth = time|date('t') %}
                {% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
                {% set dow = startDow %}

                {% for day in range(1,daysInMonth) %}
                    {% if loop.first and startDow != 0 %}
                        <td colspan="{{ startDow }}"></td>
                    {% endif %}
                    <td
                    {% if day == time|date('j') and 'now'|date('F Y') == time|date('F Y') %}
                        class="table-primary"
                    {% endif %}
                    >
                        <div>
                            <div>{{ day }}</div>
                            <div>
                                {% for appointment in appointments %}
                                    {% if (appointment.begin|date('j') == day or
                                        (appointment.begin|date('j') < day and appointment.end|date('j') >= day)) and
                                        appointment.begin|date('F Y') == time|date('F Y') %}
                                        <a class="btn btn-outline-primary btn-sm"
                                           href="{{ path('appointment_show', {'id': appointment.id}) }}"
                                           role="button">
                                            {{ appointment.title }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                    {% if loop.last and dow != 6 %}
                        <td colspan="{{ 6 - dow }}">&nbsp;</td>
                    {% endif %}
                    {% if dow == 6 %}
                        {% set dow = 0 %}
                        </tr>
                        <tr>
                    {% else %}
                        {% set dow = dow + 1 %}
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}