{% extends 'base.html.twig' %}

{% block body %}

    {% set time = time|date_modify('+1 month') %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="7" class="text-center">
                    {{ time|date('F Y') }}
                </th>
            </tr>
            <tr>
                <th class="col-1">Sunday</th>
                <th class="col-1">Monday</th>
                <th class="col-1">Tuesday</th>
                <th class="col-1">Wednesday</th>
                <th class="col-1">Thursday</th>
                <th class="col-1">Friday</th>
                <th class="col-1">Saturday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% set daysInMonth = time|date('t') %}
                {% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
                {% set dow = startDow %}

                {% for day in range(1,daysInMonth) %}
                    {% if loop.first and startDow != 0 %}
                        <td colspan="{{ startDow }}"></td>
                    {% endif %}
                    <td>
                        <div>
                            <div>{{ day }}</div>
                            <div>
                                {% for appointment in appointments %}
                                    {% if appointment.begin|date('j') == day and appointment.begin|date('F Y') == time|date('F Y') %}
                                        <a class="btn btn-outline-primary btn-sm"
                                           href="{{ path('appointment_show', {'id': appointment.id}) }}"
                                           role="button"
                                        >
                                            {{ appointment.title }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                    {% if loop.last and dow != 6 %}
                        <td colspan="{{ 6 - dow }}">&nbsp;</td>
                    {% endif %}
                    {% if dow == 6 %}
                        {% set dow = 0 %}
                        </tr>
                        <tr>
                    {% else %}
                        {% set dow = dow + 1 %}
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}